@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');


body {
  font-family: 'Livvic', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}

h1, h2, h3 {
  font-weight: 700;
}

p {
  font-size: 1.2rem;
  color: #555;
}

.button {
  background-color: #FF6225;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #FF9525;
}
